parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between ''mailto\:'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/cancel.php

		-
			message: '#^Binary operation "\." between mixed and '' '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/cancel.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot access property \$supportemail on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method footer\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/cancel.php

		-
			message: '#^Cannot call method header\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method notification\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method pix_icon\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method render_from_template\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method set_context\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method set_heading\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method set_title\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot call method set_url\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/cancel.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/cancel.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: src/cancel.php

		-
			message: '#^Parameter \#1 \$component of static method core_payment\\helper\:\:get_success_url\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/cancel.php

		-
			message: '#^Parameter \#1 \$string of function strtoupper expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/cancel.php

		-
			message: '#^Parameter \#1 \(mixed\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 5
			path: src/cancel.php

		-
			message: '#^Parameter \#2 \$paymentarea of static method core_payment\\helper\:\:get_success_url\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/cancel.php

		-
			message: '#^Parameter \#3 \$itemid of static method core_payment\\helper\:\:get_success_url\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/cancel.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/classes/event/payment_problem.php

		-
			message: '#^Cannot access offset ''problem'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/event/payment_problem.php

		-
			message: '#^Cannot access offset ''token'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/event/payment_problem.php

		-
			message: '#^Part \$this\-\>other\[''token''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/classes/event/payment_problem.php

		-
			message: '#^Binary operation "\." between mixed and ''/filelib\.php'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Cannot access property \$libdir on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Cannot cast array\<mixed\>\|string to string\.$#'
			identifier: cast.string
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Parameter \#2 \$params of method curl\:\:post\(\) expects array\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/classes/local/api_client.php

		-
			message: '#^Call to an undefined method object\:\:setAttributes\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/classes/local/config_form.php

		-
			message: '#^Call to an undefined method object\:\:updateAttributes\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot access offset ''enabled'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot access offset non\-empty\-string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot access property \$requires on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot call method data_for_js\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot call method js_call_amd\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot call method notification\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/classes/local/config_form.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 8
			path: src/classes/local/config_form.php

		-
			message: '#^Method paygw_ifthenpay\\local\\config_form\:\:get_saved_config\(\) should return array\<string, mixed\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Parameter \#1 \$array of function array_filter expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Parameter \#1 \$content of static method core\\output\\html_writer\:\:div\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/classes/local/config_form.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''DescriptionEN'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''Entity'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''IsVisible'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''Method'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''Position'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access offset ''SmallImageUrl'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot access property \$enabled on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 8
			path: src/classes/local/data_formatter.php

		-
			message: '#^Method paygw_ifthenpay\\local\\data_formatter\:\:format_available_payment_methods\(\) should return array\<string, array\{position\: int, image\: string, tooltip\: string, label\: string\}\> but returns array\<array\{position\: int, image\: string, tooltip\: string, label\: string\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/classes/local/data_formatter.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$accountid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$amount on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$component on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$currency on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$itemid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$paymentarea on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$paymentid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$redirect_url on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$state on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$timecreated on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$timemodified on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$token on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot access property \$transaction_id on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method delete_records\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method delete_records_select\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method get_in_or_equal\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method get_record\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method get_records\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method record_exists\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot use array destructuring on mixed\.$#'
			identifier: offsetAccess.nonArray
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Parameter \#1 \$datetime of static method core_privacy\\local\\request\\transform\:\:datetime\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/classes/privacy/provider.php

		-
			message: '#^Part \$in \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/classes/privacy/provider.php

		-
			message: '#^Cannot call method get_manager\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/db/upgrade.php

		-
			message: '#^Cannot call method rename_table\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/db/upgrade.php

		-
			message: '#^Cannot call method table_exists\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/db/upgrade.php

		-
			message: '#^Cannot call method execute\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/lib.php

		-
			message: '#^Cannot call method get_record\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/lib.php

		-
			message: '#^Cannot call method insert_record\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/lib.php

		-
			message: '#^Cannot call method release\(\) on core\\lock\\lock\|true\.$#'
			identifier: method.nonObject
			count: 1
			path: src/lib.php

		-
			message: '#^Cannot call method update_record\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/lib.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/lib.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 4
			path: src/lib.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 7
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_build_full_admin_dataset\(\) should return array\{gatewaykeys\: array\<string, string\>, methods\: array\<string, array\{position\: int, image\: string, tooltip\: string, label\: string\}\>, accounts\: array\<string, array\<string, string\>\>\} but returns array\{gatewaykeys\: array\<string, string\>, accounts\: array\<string, array\<string, array\<string, string\>\>\>, methods\: array\<string, array\{position\: int, image\: string, tooltip\: string, label\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_decode_state\(\) should return stdClass but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_gateway_dataset\(\) should return array\{gatewaykeys\: array\<string, string\>, accounts\: array\<string, array\<string, array\<string, string\>\>\>\}\|null but returns array\{gatewaykeys\: array\<string, string\>, accounts\: array\<string, array\<string, string\>\>\}\|null\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_gateway_dataset\(\) should return array\{gatewaykeys\: array\<string, string\>, accounts\: array\<string, array\<string, array\<string, string\>\>\>\}\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_get_methods_rich\(\) should return array\<string, array\{position\: int, image\: string, tooltip\: string, label\: string\}\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Function paygw_ifthenpay_tx_get\(\) should return stdClass\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/lib.php

		-
			message: '#^Parameter \#1 \$component of static method core_payment\\helper\:\:deliver_order\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib.php

		-
			message: '#^Parameter \#2 \$paymentarea of static method core_payment\\helper\:\:deliver_order\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib.php

		-
			message: '#^Parameter \#3 \$itemid of static method core_payment\\helper\:\:deliver_order\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib.php

		-
			message: '#^Parameter \#5 \$userid of static method core_payment\\helper\:\:deliver_order\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib.php

		-
			message: '#^Access to an undefined property object\:\:\$redirect_url\.$#'
			identifier: property.notFound
			count: 1
			path: src/pay.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/pay.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/pay.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#1 \$cfg of function paygw_ifthenpay_decode_state expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#1 \$component of static method core_payment\\helper\:\:get_gateway_configuration\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#1 \$component of static method core_payment\\helper\:\:get_payable\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#1 \$gatewaykey of method paygw_ifthenpay\\local\\api_client\:\:create_pay_by_link\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#2 \$paymentarea of static method core_payment\\helper\:\:get_gateway_configuration\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#2 \$paymentarea of static method core_payment\\helper\:\:get_payable\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#3 \$itemid of static method core_payment\\helper\:\:get_gateway_configuration\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#3 \$itemid of static method core_payment\\helper\:\:get_payable\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Parameter \#4 \$desccheckout of static method paygw_ifthenpay\\local\\data_formatter\:\:build_pay_by_link_payload\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/pay.php

		-
			message: '#^Variable \$cfg in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: src/pay.php

		-
			message: '#^Binary operation "\." between mixed and '' '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/return.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/return.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot access property \$requires on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/return.php

		-
			message: '#^Cannot call method data_for_js\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method footer\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method header\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method js_call_amd\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method render_from_template\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method set_context\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method set_heading\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method set_title\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot call method set_url\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/return.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/return.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/return.php

		-
			message: '#^Parameter \#1 \$component of static method core_payment\\helper\:\:get_success_url\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/return.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/return.php

		-
			message: '#^Parameter \#1 \(mixed\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 3
			path: src/return.php

		-
			message: '#^Parameter \#2 \$paymentarea of static method core_payment\\helper\:\:get_success_url\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/return.php

		-
			message: '#^Parameter \#3 \$itemid of static method core_payment\\helper\:\:get_success_url\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/return.php

		-
			message: '#^Cannot access property \$fulltree on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/settings.php

		-
			message: '#^Cannot call method add\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: src/settings.php

		-
			message: '#^Cannot call method pix_icon\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/settings.php

		-
			message: '#^Cannot call method render_from_template\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/settings.php

		-
			message: '#^Parameter \#1 \$settings of static method core_payment\\helper\:\:add_common_gateway_settings\(\) expects admin_settingpage, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/settings.php

		-
			message: '#^Parameter \#3 \$information of class admin_setting_heading constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/settings.php

		-
			message: '#^Cannot access property \$component on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/version.php

		-
			message: '#^Cannot access property \$maturity on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/version.php

		-
			message: '#^Cannot access property \$release on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/version.php

		-
			message: '#^Cannot access property \$requires on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/version.php

		-
			message: '#^Cannot access property \$version on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/version.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/webhook.php

		-
			message: '#^Parameter \#1 \$token of function paygw_ifthenpay_process_webhook expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/webhook.php
